snippet /__ "Angle comment" !b
# __________________________________________________
#/ $1                                                 \

#\__________________________________________________/
endsnippet
snippet _[ "" !
	#  _[ $1 ]_____________________________________________
	# |                                                  |
	proc ${1/(?:(?<!(?:\w|\s))(\w+)|(\w+))\s*/\L$1\E$2/g} {$3} {
		$4
	}
	# |__________________________________________________|
endsnippet

snippet tag "Colored tag" !
puts "[ctrl::sda_fggreen]\[$1\][ctrl::sda_fgdefault]$2";
endsnippet

snippet proc "Procedure" !b
	#  _[ $1 ]_____________________________________________
	# |                                                  |
	proc ${1/(?:(?<!(?:\w|\s))(\w+)|(\w+))\s*/\L$1\E$2/g} {$3} {
		$4
	}
	# |__________________________________________________|
endsnippet

# vim:ft=snippets:
